h1 {
	font-size: 200px;
}
h2 {
	font-size: 30px;
}
p {
	font-size: 24px;
}
.bg {
	position: fixed;
	top: 300px;
	width: 500px;
	height: 400px;
}
.box {
	position: absolute;
	top: 400px;
	left: 430px;
	transform: rotate(90deg);
}
.box2 {

}