h1 {
	font-size: 200px;
	text-align: center;
}
h2 {
	text-align: center;
}
p {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
}
.bg {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 100px;
	left: 1300px;

}
.box {
	left: 500px;
	top: 500px;
	width: 500px;
	height: 200px;
	position: fixed;
	transform: rotate(-90deg);
}
.box2 {
	top: 200px;
	left: 1050px;
	width: 140px;
	height: 100px;
	position: absolute;
	transform: rotate(-90deg);
}